name: Build WebGL and Deploy to GitHub Pages

on:
  # push:
  #   branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Maximize space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          docker system prune -af
          df -h

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            Library
            Logs
          key: Library-${{ runner.os }}-${{ hashFiles('**/*.cs') }}

      - name: Build WebGL
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: WebGL
          allowDirtyBuild: true
          customImage: 'unityci/editor:ubuntu-6000.2.10f1-webgl-3.2.0'

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WebGLBuild
          path: build/WebGL

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: WebGLBuild

      - uses: actions/upload-pages-artifact@v3
        with:
          path: .

  deploy-pages:
    needs: deploy
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/deploy-pages@v4
