name: Build Standalone Releases (Windows & Linux)

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        targetPlatform: [StandaloneWindows64, StandaloneLinux64]

    steps:
      - uses: actions/checkout@v3

      - uses: jlumbroso/free-disk-space@v1.2.0
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          docker-images: true

      - name: Cache Unity Library
        uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ runner.os }}-${{ hashFiles('ProjectSettings/ProjectVersion.txt') }}
          restore-keys: |
            Library-${{ runner.os }}-

      - name: Build ${{ matrix.targetPlatform }}
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
          customImage: unityci/editor:ubuntu-6000.2.10f1-${{ matrix.targetPlatform == 'StandaloneWindows64' && 'standalonewindows64' || 'standalonelinux64' }}-3.2.0
          buildName: ${{ matrix.targetPlatform }}
          buildsPath: build

      - name: Zip Build
        run: |
          cd build/${{ matrix.targetPlatform }}
          zip -r ../${{ matrix.targetPlatform }}.zip .

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.targetPlatform }}
          path: build/${{ matrix.targetPlatform }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            StandaloneWindows64/StandaloneWindows64.zip
            StandaloneLinux64/StandaloneLinux64.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
